<% @questions.each do |q| %>
	<ul><%= q.question %>
	<li><%= radio_button_tag "option" , q.id, q.option_1 %> <%= q.option_1%> </li>
	<li><%= radio_button_tag "option" , q.id, q.option_2 %> <%= q.option_2%></li>
	<li><%= radio_button_tag "option" , q.id, q.option_3 %> <%= q.option_3%></li>
	<li><%= radio_button_tag "option" , q.id, q.option_4 %> <%= q.option_4%></li>
	</ul>
<%end%>
