<%= form_tag action: "checkAnswers" do  %>
<% @questions.each do |q| %>
	<ul><%= q.question %>
	<li><%= radio_button "option" , q.id.to_s, q.option_1 %> <%= q.option_1%> </li>
	<li><%= radio_button "option" , q.id.to_s, q.option_2 %> <%= q.option_2%></li>
	<li><%= radio_button "option" , q.id.to_s, q.option_3 %> <%= q.option_3%></li>
	<li><%= radio_button "option" , q.id.to_s, q.option_4 %> <%= q.option_4%></li>
	</ul>
<% end %>
<%= submit_tag("Submit") %>
<% end %>

